Utilities/Core.WebSvc.TestClient/Service References/ServiceReference1/QDS_Prxy_IWebProxyV1012.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8222/QDS_Prxy_IWebProxyV101?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Orion.Core.WebSvc" />
  <xs:element name="V101LoadObjectByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="V101LoadObjectByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Orion.Core.WebSvc" minOccurs="0" name="V101LoadObjectByNameResult" nillable="true" type="q1:V101ResultSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>