Utilities/Core.WebSvc.TestClient/Service References/ServiceReference1/QDS_Prxy_IWebProxyV1011.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Orion.Core.WebSvc" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Orion.Core.WebSvc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8222/QDS_Prxy_IWebProxyV101?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="V101ResultSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="tns:V101ErrorDetail" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfV101CoreItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V101ResultSet" nillable="true" type="tns:V101ResultSet" />
  <xs:complexType name="V101ErrorDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerError" nillable="true" type="tns:V101ErrorDetail" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V101ErrorDetail" nillable="true" type="tns:V101ErrorDetail" />
  <xs:complexType name="ArrayOfV101CoreItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="V101CoreItem" nillable="true" type="tns:V101CoreItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfV101CoreItem" nillable="true" type="tns:ArrayOfV101CoreItem" />
  <xs:complexType name="V101CoreItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemId" type="ser:guid" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="V101CoreItem" nillable="true" type="tns:V101CoreItem" />
</xs:schema>