FpMLV5r10/Metadata/FpML.V5r10.Reporting/ExtensionSchemas/schema2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.fpml.org/FpML-5/ext" elementFormDefault="qualified" targetNamespace="http://www.fpml.org/FpML-5/ext" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.fpml.org/FpML-5/reporting" />
  <xs:complexType name="EventReference">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.fpml.org/FpML-5/reporting" base="q1:Reference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RepoTransactionLegReference">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://www.fpml.org/FpML-5/reporting" base="q2:Reference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SettlementInstructionReference">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://www.fpml.org/FpML-5/reporting" base="q3:Reference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StreamReference">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://www.fpml.org/FpML-5/reporting" base="q4:Reference" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AdjustableOffset">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://www.fpml.org/FpML-5/reporting" base="q5:Offset">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="q5:businessCentersReference" />
          <xs:element minOccurs="0" maxOccurs="1" ref="q5:businessCenters" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExchangeTradedOption">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://www.fpml.org/FpML-5/reporting" base="q6:ExchangeTradedContract">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="optionType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="exerciseStyle" type="tns:ExerciseStyleEnum" />
          <xs:element minOccurs="0" maxOccurs="1" name="settlementType" type="q6:SettlementTypeEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ExerciseStyleEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="American" />
      <xs:enumeration value="Bermuda" />
      <xs:enumeration value="European" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Warrant">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ExchangeTradedOption">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="issuerName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="issuerPartyReference" xmlns:q7="http://www.fpml.org/FpML-5/reporting" type="q7:PartyReference" />
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="1" name="exercisePrice" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="conversionRatio" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="capLevel" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="knockOutLevel" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="associatedBond" xmlns:q8="http://www.fpml.org/FpML-5/reporting" type="q8:Bond" />
          <xs:element minOccurs="0" maxOccurs="1" name="underlyer" xmlns:q9="http://www.fpml.org/FpML-5/reporting" type="q9:Underlyer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Future">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://www.fpml.org/FpML-5/reporting" base="q10:Future">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="settlementType" type="q10:SettlementTypeEnum" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InterestRateSwap">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://www.fpml.org/FpML-5/reporting" base="q11:RateIndex">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="effectiveDate" type="q11:AdjustableOrRelativeDate" />
          <xs:element minOccurs="0" maxOccurs="1" name="terminationDate" type="q11:AdjustableOrRelativeDate" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Property">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://www.fpml.org/FpML-5/reporting" base="q12:UnderlyingAsset">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="address" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="contract" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="location" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="propertyTaxonomyType" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AbstractTransaction" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://www.fpml.org/FpML-5/reporting" base="q13:Product">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="q13:buyerPartyReference" />
          <xs:element minOccurs="0" maxOccurs="1" ref="q13:buyerAccountReference" />
          <xs:element minOccurs="0" maxOccurs="1" ref="q13:sellerPartyReference" />
          <xs:element minOccurs="0" maxOccurs="1" ref="q13:sellerAccountReference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AbstractNotionalTransaction" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractTransaction">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="notionalAmount" xmlns:q14="http://www.fpml.org/FpML-5/reporting" type="q14:Money" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BondTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractNotionalTransaction">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="price" type="tns:BondPrice" />
          <xs:element minOccurs="0" maxOccurs="1" name="bond" xmlns:q15="http://www.fpml.org/FpML-5/reporting" type="q15:Bond" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BondPrice">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="cleanPrice" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="cleanOfAccruedInterest" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="accruals" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="dirtyPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InterestRateSwapTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractNotionalTransaction">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="price" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="swap" xmlns:q16="http://www.fpml.org/FpML-5/reporting" type="q16:RateIndex" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PropertyTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractNotionalTransaction">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="propertyClass" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="propertyType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="purchasePrice" xmlns:q17="http://www.fpml.org/FpML-5/reporting" type="q17:Money" />
          <xs:element minOccurs="0" maxOccurs="1" name="purchaseDate" xmlns:q18="http://www.fpml.org/FpML-5/reporting" type="q18:IdentifiedDate" />
          <xs:element minOccurs="0" maxOccurs="1" name="property" type="tns:Property" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AbstractUnitTransaction" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractTransaction">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="numberOfUnits" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="unitPrice" xmlns:q19="http://www.fpml.org/FpML-5/reporting" type="q19:Money" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExchangeTradedFundTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractUnitTransaction">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="exchangeTradedFund" xmlns:q20="http://www.fpml.org/FpML-5/reporting" type="q20:ExchangeTradedFund" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UnitizedFundTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractUnitTransaction">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="unitizedFund" xmlns:q21="http://www.fpml.org/FpML-5/reporting" type="q21:MutualFund" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EquityTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractUnitTransaction">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="equity" xmlns:q22="http://www.fpml.org/FpML-5/reporting" type="q22:EquityAsset" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FutureTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractUnitTransaction">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="deliveryPrice" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="future" xmlns:q23="http://www.fpml.org/FpML-5/reporting" type="q23:Future" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OptionTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractUnitTransaction">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="strikePrice" type="xs:decimal" />
          <xs:element minOccurs="1" maxOccurs="1" name="optionPremium" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="option" xmlns:q24="http://www.fpml.org/FpML-5/reporting" type="q24:ExchangeTradedContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WarrantTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AbstractUnitTransaction">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="warrant" xmlns:q25="http://www.fpml.org/FpML-5/reporting" type="q25:ExchangeTradedContract" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Repo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://www.fpml.org/FpML-5/reporting" base="q26:Product">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="fixedRateSchedule" type="q26:Schedule" />
            <xs:element minOccurs="0" maxOccurs="1" name="floatingRateCalculation" type="q26:FloatingRateCalculation" />
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="1" name="dayCountFraction" type="q26:DayCountFraction" />
          <xs:element minOccurs="0" maxOccurs="1" name="noticePeriod" type="tns:AdjustableOffset" />
          <xs:element minOccurs="1" maxOccurs="1" name="duration" type="tns:RepoDurationEnum" />
          <xs:element minOccurs="0" maxOccurs="1" name="margin" type="tns:Margin" />
          <xs:element minOccurs="0" maxOccurs="1" name="spotLeg" type="tns:RepoTransactionLeg" />
          <xs:element minOccurs="0" maxOccurs="1" name="forwardLeg" type="tns:ForwardRepoTransactionLeg" />
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="billingEvent" type="tns:BillingEvent" />
            <xs:element minOccurs="0" maxOccurs="1" name="cashRepricing" type="tns:CashRepricingEvent" />
            <xs:element minOccurs="0" maxOccurs="1" name="markToMarketEvent" type="tns:MarkToMarketEvent" />
            <xs:element minOccurs="0" maxOccurs="1" name="partialReturnEvent" type="tns:PartialReturnEvent" />
            <xs:element minOccurs="0" maxOccurs="1" name="rateChange" type="tns:RateChangeEvent" />
            <xs:element minOccurs="0" maxOccurs="1" name="rateObservation" type="tns:RateObservationEvent" />
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="q26:bond" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="q26:convertibleBond" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="q26:equity" />
          <xs:element minOccurs="0" maxOccurs="1" name="settlementTransfer" type="tns:SettlementTransfer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="RepoDurationEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Overnight" />
      <xs:enumeration value="Term" />
      <xs:enumeration value="Open" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Margin">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="marginType" type="tns:MarginTypeEnum" />
      <xs:element minOccurs="1" maxOccurs="1" name="marginFactor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MarginTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cash" />
      <xs:enumeration value="Instrument" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RepoTransactionLeg">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="id" type="tns:RepoLegId" />
        <xs:element minOccurs="0" maxOccurs="1" name="versionedId" type="tns:VersionedRepoLegId" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q27="http://www.fpml.org/FpML-5/reporting" ref="q27:buyerPartyReference" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q28="http://www.fpml.org/FpML-5/reporting" ref="q28:buyerAccountReference" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q29="http://www.fpml.org/FpML-5/reporting" ref="q29:sellerPartyReference" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q30="http://www.fpml.org/FpML-5/reporting" ref="q30:sellerAccountReference" />
      <xs:element minOccurs="0" maxOccurs="1" name="settlementDate" xmlns:q31="http://www.fpml.org/FpML-5/reporting" type="q31:AdjustableOrRelativeDate" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q32="http://www.fpml.org/FpML-5/reporting" ref="q32:settlementAmount" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q33="http://www.fpml.org/FpML-5/reporting" ref="q33:settlementCurrency" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="collateral" type="tns:CollateralValuation" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
  </xs:complexType>
  <xs:complexType name="RepoLegId">
    <xs:simpleContent>
      <xs:extension base="xs:normalizedString">
        <xs:attribute name="repoLegIdScheme" type="xs:anyURI" />
        <xs:attribute name="id" type="xs:ID" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VersionedRepoLegId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="tns:RepoLegId" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q34="http://www.fpml.org/FpML-5/reporting" ref="q34:version" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q35="http://www.fpml.org/FpML-5/reporting" ref="q35:effectiveDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CollateralValuation">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="1" maxOccurs="1" name="accruals" type="xs:decimal" />
        <xs:element minOccurs="0" maxOccurs="1" name="assetReference" xmlns:q36="http://www.fpml.org/FpML-5/reporting" type="q36:AssetReference" />
        <xs:element minOccurs="0" maxOccurs="1" name="cash" xmlns:q37="http://www.fpml.org/FpML-5/reporting" type="q37:Money" />
        <xs:element minOccurs="1" maxOccurs="1" name="cleanPrice" type="xs:decimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="dirtyPrice" type="xs:decimal" />
        <xs:element minOccurs="1" maxOccurs="1" name="inflationFactor" type="xs:decimal" />
        <xs:element minOccurs="0" maxOccurs="1" name="interestStartDate" xmlns:q38="http://www.fpml.org/FpML-5/reporting" type="q38:AdjustableOrRelativeDate" />
        <xs:element minOccurs="0" maxOccurs="1" name="nominalAmount" xmlns:q39="http://www.fpml.org/FpML-5/reporting" type="q39:Money" />
        <xs:element minOccurs="1" maxOccurs="1" name="numberOfUnits" type="xs:decimal" />
        <xs:element minOccurs="0" maxOccurs="1" name="pool" xmlns:q40="http://www.fpml.org/FpML-5/reporting" type="q40:AssetPool" />
        <xs:element minOccurs="0" maxOccurs="1" name="relativePrice" type="tns:RelativePrice" />
        <xs:element minOccurs="0" maxOccurs="1" name="unitPrice" xmlns:q41="http://www.fpml.org/FpML-5/reporting" type="q41:Money" />
        <xs:element minOccurs="1" maxOccurs="1" name="yieldToMaturity" type="xs:decimal" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelativePrice">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="spread" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="unbounded" xmlns:q42="http://www.fpml.org/FpML-5/reporting" ref="q42:bond" />
      <xs:element minOccurs="0" maxOccurs="unbounded" xmlns:q43="http://www.fpml.org/FpML-5/reporting" ref="q43:convertibleBond" />
      <xs:element minOccurs="0" maxOccurs="unbounded" xmlns:q44="http://www.fpml.org/FpML-5/reporting" ref="q44:equity" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ForwardRepoTransactionLeg">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RepoTransactionLeg">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="repoInterest" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BillingEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MidLifeEvent">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="payment" xmlns:q45="http://www.fpml.org/FpML-5/reporting" type="q45:Money" />
          <xs:element minOccurs="0" maxOccurs="1" name="transfer" type="tns:Transfer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MidLifeEvent" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q46="http://www.fpml.org/FpML-5/reporting" base="q46:AbstractEvent">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="eventDate" type="q46:IdentifiedDate" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TradeAndComponentIdentifier">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q47="http://www.fpml.org/FpML-5/reporting" base="q47:TradeIdentifier">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="tradeComponentIdentifier" type="tns:TradeComponentIdentifier" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TradeComponentIdentifier">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="eventId" xmlns:q48="http://www.fpml.org/FpML-5/reporting" type="q48:EventId" />
        <xs:element minOccurs="0" maxOccurs="1" name="eventReference" type="tns:EventReference" />
        <xs:element minOccurs="0" maxOccurs="1" name="repoLegId" type="tns:RepoLegId" />
        <xs:element minOccurs="0" maxOccurs="1" name="repoLegReference" type="tns:RepoTransactionLegReference" />
        <xs:element minOccurs="0" maxOccurs="1" name="streamId" type="tns:StreamId" />
        <xs:element minOccurs="0" maxOccurs="1" name="streamReference" type="tns:StreamReference" />
        <xs:element minOccurs="0" maxOccurs="1" name="versionedEventId" type="tns:VersionedEventId" />
        <xs:element minOccurs="0" maxOccurs="1" name="versionedRepoLegId" type="tns:VersionedRepoLegId" />
        <xs:element minOccurs="0" maxOccurs="1" name="versionedStreamId" type="tns:VersionedStreamId" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StreamId">
    <xs:simpleContent>
      <xs:extension base="xs:normalizedString">
        <xs:attribute name="streamId" type="xs:anyURI" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VersionedEventId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="id" xmlns:q49="http://www.fpml.org/FpML-5/reporting" type="q49:EventId" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q50="http://www.fpml.org/FpML-5/reporting" ref="q50:version" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q51="http://www.fpml.org/FpML-5/reporting" ref="q51:effectiveDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VersionedStreamId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="tns:StreamId" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q52="http://www.fpml.org/FpML-5/reporting" ref="q52:version" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q53="http://www.fpml.org/FpML-5/reporting" ref="q53:effectiveDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NetTradeIdentifier">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q54="http://www.fpml.org/FpML-5/reporting" base="q54:PartyTradeIdentifier">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="originalTradeIdentifier" type="tns:ArrayOfTradeIdentifier" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfTradeIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tradeIdentifier" xmlns:q55="http://www.fpml.org/FpML-5/reporting" type="q55:TradeIdentifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyTradeInformation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q56="http://www.fpml.org/FpML-5/reporting" base="q56:PartyTradeInformation">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="tradeDateTime" type="tns:ClockDateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ClockDateTime">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="dateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clockId" type="tns:ClockId" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClockId">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="clockIdScheme" type="xs:anyURI" />
        <xs:attribute name="id" type="xs:ID" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PartyClockDateTime">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ClockDateTime">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="partyReference" xmlns:q57="http://www.fpml.org/FpML-5/reporting" type="q57:PartyReference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CashRepricingEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MidLifeEvent">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="collateral" type="tns:CollateralValuation" />
          <xs:element minOccurs="1" maxOccurs="1" name="combinedInterestPayout" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="transfer" type="tns:Transfer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Transfer">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="id" type="tns:TransferId" />
        <xs:element minOccurs="0" maxOccurs="1" name="versionedId" type="tns:VersionedTransferId" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="tradeComponentIdentifier" type="tns:TradeComponentIdentifier" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tradeAndComponentIdentifier" type="tns:TradeAndComponentIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="netTradeIdentifier" type="tns:NetTradeIdentifier" />
      <xs:element minOccurs="1" maxOccurs="1" name="deliveryMethod" type="tns:DeliveryMethodEnum" />
      <xs:element minOccurs="0" maxOccurs="1" name="transferDate" xmlns:q58="http://www.fpml.org/FpML-5/reporting" type="q58:IdentifiedDate" />
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="cashTransfer" type="tns:CashTransfer" />
        <xs:element minOccurs="0" maxOccurs="1" name="securityTransfer" type="tns:SecurityTransfer" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="settlementInstructionReference" type="tns:SettlementInstructionReference" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
  </xs:complexType>
  <xs:complexType name="TransferId">
    <xs:simpleContent>
      <xs:extension base="xs:normalizedString">
        <xs:attribute name="transferIdScheme" type="xs:anyURI" />
        <xs:attribute name="id" type="xs:ID" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VersionedTransferId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="tns:TransferId" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q59="http://www.fpml.org/FpML-5/reporting" ref="q59:version" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q60="http://www.fpml.org/FpML-5/reporting" ref="q60:effectiveDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DeliveryMethodEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DeliveryVersusPayment" />
      <xs:enumeration value="FreeOfPayment" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CashTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AtomicSettlementTransfer">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="transferAmount" xmlns:q61="http://www.fpml.org/FpML-5/reporting" type="q61:Money" />
          <xs:element minOccurs="0" maxOccurs="1" xmlns:q62="http://www.fpml.org/FpML-5/reporting" ref="q62:payerPartyReference" />
          <xs:element minOccurs="0" maxOccurs="1" xmlns:q63="http://www.fpml.org/FpML-5/reporting" ref="q63:payerAccountReference" />
          <xs:element minOccurs="0" maxOccurs="1" xmlns:q64="http://www.fpml.org/FpML-5/reporting" ref="q64:receiverPartyReference" />
          <xs:element minOccurs="0" maxOccurs="1" xmlns:q65="http://www.fpml.org/FpML-5/reporting" ref="q65:receiverAccountReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="attributions" type="tns:Attributions" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AtomicSettlementTransfer" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="suppress" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
  </xs:complexType>
  <xs:complexType name="SecurityTransfer">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AtomicSettlementTransfer">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="quantity" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="assetReference" xmlns:q66="http://www.fpml.org/FpML-5/reporting" type="q66:AssetReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="delivererPartyReference" xmlns:q67="http://www.fpml.org/FpML-5/reporting" type="q67:PartyReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="receiverPartyReference" xmlns:q68="http://www.fpml.org/FpML-5/reporting" type="q68:PartyReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="daylightIndicator" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Attributions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="settlementCurrency" xmlns:q69="http://www.fpml.org/FpML-5/reporting" type="q69:Currency" />
      <xs:element minOccurs="0" maxOccurs="1" name="baseCurrency" xmlns:q70="http://www.fpml.org/FpML-5/reporting" type="q70:Currency" />
      <xs:element minOccurs="0" maxOccurs="1" name="underlyingCurrency" xmlns:q71="http://www.fpml.org/FpML-5/reporting" type="q71:Currency" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="attribution" type="tns:Attribution" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Attribution">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="type" type="tns:AttributionType" />
      <xs:element minOccurs="0" maxOccurs="1" name="settlementAmount" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="baseAmount" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="underlyingAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AttributionType">
    <xs:simpleContent>
      <xs:extension base="xs:normalizedString">
        <xs:attribute name="attributionTypeScheme" type="xs:anyURI" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CollateralSubstitutionEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MidLifeEvent">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="previousCollateral" type="tns:CollateralValuation" />
          <xs:element minOccurs="0" maxOccurs="1" name="newCollateral" type="tns:CollateralValuation" />
          <xs:element minOccurs="0" maxOccurs="1" name="settlementTransfer" type="tns:SettlementTransfer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SettlementTransfer">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="id" type="tns:SettlementTransferId" />
        <xs:element minOccurs="0" maxOccurs="1" name="versionedId" type="tns:VersionedSettlementTransferId" />
      </xs:choice>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="type" type="tns:SettlementTransferType" />
        <xs:element minOccurs="0" maxOccurs="1" name="versionedType" type="tns:VersionedSettlementTransferType" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="transferInformation" type="tns:PartySettlementTransferInformation" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="transfer" type="tns:Transfer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="settlementInstruction" xmlns:q72="http://www.fpml.org/FpML-5/reporting" type="q72:SettlementInstruction" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettlementTransferId">
    <xs:simpleContent>
      <xs:extension base="xs:normalizedString">
        <xs:attribute name="settlementTransferIdScheme" type="xs:anyURI" />
        <xs:attribute name="id" type="xs:ID" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VersionedSettlementTransferId">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="tns:SettlementTransferId" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q73="http://www.fpml.org/FpML-5/reporting" ref="q73:version" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q74="http://www.fpml.org/FpML-5/reporting" ref="q74:effectiveDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettlementTransferType">
    <xs:simpleContent>
      <xs:extension base="xs:normalizedString">
        <xs:attribute name="settlementTransferTypeScheme" type="xs:anyURI" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VersionedSettlementTransferType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="type" type="tns:SettlementTransferType" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q75="http://www.fpml.org/FpML-5/reporting" ref="q75:version" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q76="http://www.fpml.org/FpML-5/reporting" ref="q76:effectiveDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartySettlementTransferInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="partyReference" xmlns:q77="http://www.fpml.org/FpML-5/reporting" type="q77:PartyReference" />
      <xs:element minOccurs="0" maxOccurs="1" name="processingInformation" type="tns:SettlementTransferProcessingInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettlementTransferProcessingInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="owner" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MarkToMarketEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MidLifeEvent">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="collateral" type="tns:CollateralValuation" />
          <xs:element minOccurs="1" maxOccurs="1" name="combinedInterestPayout" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="transfer" type="tns:Transfer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartialReturnEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MidLifeEvent">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="payment" xmlns:q78="http://www.fpml.org/FpML-5/reporting" type="q78:Money" />
          <xs:element minOccurs="0" maxOccurs="1" name="transfer" type="tns:Transfer" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RateChangeEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MidLifeEvent">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="rate" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RateObservationEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MidLifeEvent">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="rate" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SecurityLending">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q79="http://www.fpml.org/FpML-5/reporting" base="q79:Product">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="dayCountFraction" type="q79:DayCountFraction" />
            <xs:element minOccurs="0" maxOccurs="1" name="feeRateSchedule" type="q79:Schedule" />
            <xs:element minOccurs="0" maxOccurs="1" name="fixedRateSchedule" type="q79:Schedule" />
            <xs:element minOccurs="0" maxOccurs="1" name="floatingRateCalculation" type="q79:FloatingRateCalculation" />
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="1" name="dividendRate" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="allInRate" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="prepaidRate" type="xs:decimal" />
          <xs:element minOccurs="0" maxOccurs="1" name="recallPeriod" type="tns:AdjustableOffset" />
          <xs:element minOccurs="1" maxOccurs="1" name="duration" type="tns:RepoDurationEnum" />
          <xs:element minOccurs="0" maxOccurs="1" name="margin" type="tns:Margin" />
          <xs:element minOccurs="0" maxOccurs="1" name="rounding" type="q79:Rounding" />
          <xs:element minOccurs="0" maxOccurs="1" name="spotLeg" type="tns:SecLendingTransactionLeg" />
          <xs:element minOccurs="0" maxOccurs="1" name="forwardLeg" type="tns:SecLendingTransactionLeg" />
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="billingEvent" type="tns:BillingEvent" />
            <xs:element minOccurs="0" maxOccurs="1" name="cashRepricing" type="tns:CashRepricingEvent" />
            <xs:element minOccurs="0" maxOccurs="1" name="markToMarketEvent" type="tns:MarkToMarketEvent" />
            <xs:element minOccurs="0" maxOccurs="1" name="partialReturnEvent" type="tns:PartialReturnEvent" />
            <xs:element minOccurs="0" maxOccurs="1" name="rateChange" type="tns:RateChangeEvent" />
            <xs:element minOccurs="0" maxOccurs="1" name="rateObservation" type="tns:RateObservationEvent" />
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="q79:bond" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="q79:convertibleBond" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="q79:equity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SecLendingTransactionLeg">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="id" type="tns:RepoLegId" />
        <xs:element minOccurs="0" maxOccurs="1" name="versionedId" type="tns:VersionedRepoLegId" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="delivererPartyReference" xmlns:q80="http://www.fpml.org/FpML-5/reporting" type="q80:PartyReference" />
      <xs:element minOccurs="0" maxOccurs="1" name="receiverPartyReference" xmlns:q81="http://www.fpml.org/FpML-5/reporting" type="q81:PartyReference" />
      <xs:element minOccurs="0" maxOccurs="1" name="settlementDate" xmlns:q82="http://www.fpml.org/FpML-5/reporting" type="q82:AdjustableOrRelativeDate" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q83="http://www.fpml.org/FpML-5/reporting" ref="q83:settlementAmount" />
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q84="http://www.fpml.org/FpML-5/reporting" ref="q84:settlementCurrency" />
      <xs:element minOccurs="0" maxOccurs="1" name="security" type="tns:CollateralValuation" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="collateral" type="tns:CollateralValuation" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" />
  </xs:complexType>
</xs:schema>