FpMLV5r11/Metadata/FpML.V5r11.Codes/FpMLCodes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
===========================================================================
  This code was generated by TemplateProcessor Version: 1.1.0.0
  using the template file: TemplateCodeList.txt.
  Changes to this file may cause incorrect behavior and will be lost if
  the code is regenerated.
===========================================================================
-->
<xs:schema id="CodeList"
    targetNamespace="http://tempuri.org/CodeList.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/CodeList.xsd"
    xmlns:mstns="http://tempuri.org/CodeList.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AssetMeasureValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetMeasureScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="AssetMeasureValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BrokerConfirmationTypeValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerConfirmationTypeScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="BrokerConfirmationTypeValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="BusinessCenterValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessCenterScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="BusinessCenterValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CashflowTypeValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashflowTypeScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="CashflowTypeValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="IndexAnnexSourceValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexAnnexSourceScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="IndexAnnexSourceValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ClearanceSystemValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClearanceSystemScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="ClearanceSystemValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CompoundingFrequencyValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompoundingFrequencyScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="CompoundingFrequencyValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ContractualDefinitionsValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractualDefinitionsScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="ContractualDefinitionsValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ContractualSupplementValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContractualSupplementScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="ContractualSupplementValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CouponTypeValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CouponTypeScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="CouponTypeValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MatrixTermValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatrixTermScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="MatrixTermValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CreditSeniorityValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditSeniorityScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="CreditSeniorityValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CreditSeniorityTradingValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditSeniorityTradingScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="CreditSeniorityTradingValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CreditSupportAgreementTypeValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditSupportAgreementTypeScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="CreditSupportAgreementTypeValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CutNameValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CutNameScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="CutNameValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DayCountFractionValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
      <xs:element name="HLClassName" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DayCountFractionScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="DayCountFractionValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DerivativeCalculationMethodValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DerivativeCalculationMethodScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="DerivativeCalculationMethodValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DesignatedPriorityValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DesignatedPriorityScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="DesignatedPriorityValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="EntityTypeValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityTypeScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="EntityTypeValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="LoanTypeValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanTypeScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="LoanTypeValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="FloatingRateIndexValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FloatingRateIndexScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="FloatingRateIndexValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="GoverningLawValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GoverningLawScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="GoverningLawValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="InflationIndexDescriptionValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InflationIndexDescriptionScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="InflationIndexDescriptionValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="InflationIndexSourceValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InflationIndexSourceScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="InflationIndexSourceValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="InflationMainPublicationValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InflationMainPublicationScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="InflationMainPublicationValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="InformationProviderValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformationProviderScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="InformationProviderValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="InterpolationMethodValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterpolationMethodScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="InterpolationMethodValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="LocalJurisdictionValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalJurisdictionScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="LocalJurisdictionValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MarketDisruptionValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarketDisruptionScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="MarketDisruptionValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MasterAgreementTypeValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterAgreementTypeScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="MasterAgreementTypeValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MasterConfirmationTypeValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MasterConfirmationTypeScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="MasterConfirmationTypeValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MatrixTypeValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatrixTypeScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="MatrixTypeValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="MortgageSectorValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MortgageSectorScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="MortgageSectorValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PerturbationTypeValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerturbationTypeScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="PerturbationTypeValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PositionStatusValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PositionStatusScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="PositionStatusValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PriceQuoteUnitsValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceQuoteUnitsScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="PriceQuoteUnitsValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PricingInputTypeValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PricingInputTypeScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="PricingInputTypeValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ProductTypeSimpleValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductTypeSimpleScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="ProductTypeSimpleValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="QueryParameterOperatorValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryParameterOperatorScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="QueryParameterOperatorValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="QuoteTimingValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuoteTimingScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="QuoteTimingValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ReasonCodeValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReasonCodeScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="ReasonCodeValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RestructuringValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RestructuringScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="RestructuringValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ScheduledDateTypeValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduledDateTypeScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="ScheduledDateTypeValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SettledEntityMatrixSourceValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SettledEntityMatrixSourceScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="SettledEntityMatrixSourceValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SettlementMethodValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SettlementMethodScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="SettlementMethodValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SettlementPriceSourceValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SettlementPriceSourceScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="SettlementPriceSourceValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SettlementRateOptionValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SettlementRateOptionScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="SettlementRateOptionValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="SpreadScheduleTypeValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpreadScheduleTypeScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="SpreadScheduleTypeValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TradeCashflowsStatusValue">
    <xs:sequence>
      <xs:element name="Code" type="xs:token" />
      <xs:element name="Source" type="xs:string" />
      <xs:element name="Description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TradeCashflowsStatusScheme" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="schemeValues" type="TradeCashflowsStatusValue" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
